# Fichiers volumineux et sensibles à ne pas versionner
trained_model_and_assets.pkl


# python cache
__pycache__/
*.pyc
.DS_Store
# Environnements virtuels
venv/
.venv/
env/
.env/

# Azure Functions local settings
local.settings.json

# Modèles / données sensibles
*.pkl
*.csv
*.db

# config VScode
.vscode/
